html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

md-toolbar h1 {
    color: inherit;
    font-size: 1.50em;
    font-weight: 400;
    margin: auto;

}


md-toolbar .md-toolbar-tools h1 {
    font-size: 1.50em;
    font-weight: 400;
    margin: auto;
}
.repairNameButton {
    padding-left: 5px;
    display: inherit;
}

.repairDateButton {
    font-weight: 300;
}

md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
    display: inherit;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}
header > a > img {
    margin: auto;
    display: flex;
    padding-top: 15px;
}
header {
    width: 100%;
    margin: 0;
    background-color: #607D8B;
}

md-list .md-button.selected {
    color: #FF5252;
}


.avatar {
    display: inline-block !important;
}

.infoTitle {
    font-weight: 200;
}

.infoContent {
    font-weight: 400;
    font-size: 1.25em;
}

.repairTitle {
    font-weight: 500;
    font-size: 2.50em;
}

.repairDate {
    font-weight: 500;
    font-size: 1.75em;
    padding-top: inherit;
}

.map {
    display: inherit;
    height: 200px;
    width: 100%;
}